/*.header {*/
/*    background-color: gold;*/
/*}*/



.Logo {
    width: 100%;
    height: 100%;
}



.header-right{
    display: flex;
    align-items: center;


}





/*.actions{*/
/*    text-align: center;*/
/*}*/

